@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Glegoo:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  margin-bottom: 25px;
  position: relative;
}

#theme-toggle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #333;
  position: absolute;
  top: 25px;
  right: 0px;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 1;
}

/* Making a dot switch inside the theme-toggle Button */
#theme-toggle::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #eee;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}

/* Changing theme-toggle button background when checked */
#theme-toggle:checked {
  background: var(--bg-color-third);
}

/* Changing dot switch color and moving to the right side when checked */
#theme-toggle:checked::before {
  background: #333;
  left: 32px;
}
#theme-toggle:checked ~ .container {
  background-color: #333;
  color: #eee;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 28px;
}

hr {
  margin: 10px 0;
}

.logo {
  font-family: "Glegoo";
  font-size: 44px;
  font-weight: normal;
  font-style: normal;
}

.form-inputs-wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 600px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  input {
    margin: 5px 0px;
    background-color: inherit;
    border: none;
    background-color: var(--bg-color-fifth);
    border-radius: 5px;
    padding: 10px;
  }

  input::placeholder {
    color: var(--text-color-main);
    opacity: 30%;
  }
}
.form-input-small {
  width: 100px;
  input {
    max-width: 100%;
  }
}
.form-input-big {
  width: 100%;
  input {
    width: 100%;
  }
}

textarea {
  width: 100%;
  max-width: 600px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background: var(--bg-color-fifth);
  font-family: "Ubuntu", sans-serif;
  resize: none;
  padding: 10px;
}

.rent-feature {
  background: var(--bg-color-third);
  border-radius: 5px;
  padding: 5px 10px;
}

@media (max-width: 650px) {
  .form-inputs-wrap {
    flex-direction: column;
  }
}
